<h1>{{ products|length }} products for "{{query}}"</h1>

{% for product in products %}
    <div>
        <h3>{{product.name}}</h3>
        Description :<b>{{product.desc}}</b><br>
        Price :{{product.price}}<br>
        <form action="/api/product" method="post">
            <input type="text" name="op_type" value="add" hidden>
            <input type="text" name="product_id" value="{{product._id}}" hidden>
            <input type="submit" value="Delete">
        </form>
    </div>

{% endfor %}


